!*

### Ansible
.cache/

### VirtualEnv ###
# Virtualenv
.venv/
venv/

### VisualStudioCode ###
.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### macOS ###
.DS_Store
